body
{
    background-color:  #000000;
}


.myGame
{
    background-color: #000000;
    text-align:center;
    height: 2000px;
}

.myGame h1
{
    color: #ffffff;
}

.myFooter
{
    text-align: center;
    background-color: #000000;
    height: 40px;
}

