body
{
    background-color:  #000000;
}

.myHome
{
    background-color: #000000;
    text-align:center;
    height: 600px;
}

.myGame
{
    background-color: #000000;
    text-align:center;
    height: 800px;
}

.myGame h1
{
    color: #ffffff;
}

.myFooter
{
    text-align: center;
    background-color: #000000;
    height: 40px;
}

