body
{
    background-color:  #000000;
}

.myContains
{
    background-color: #000000;
    height : auto;
     height: 3000px;
    
}

.myFooter
{
    text-align: center;
    background-color: #000000;
    height: 40px;
}

